@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading{
  font-family: 'Patrick Hand', cursive;;
}

